#intro{
    height: calc(100vh -4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

@font-face {
   font-family: 'NeueHaas';
   src: url('fonts/NeueHaasDisplayLight.ttf') format('truetype');
   font-weight: lighter;
   font-style: normal;
}

@font-face {
   font-family: 'ABC-mono';
   src: url('fonts/abc-favorit-mono-book.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
}

.bgProfile {
    position: absolute;
    z-index: -1;
    top: 1rem;
    right: 0;
    object-fit: cover;
    height: 45vh;
    justify-content: flex-end;
}

.introContent{
    height: 80vh;
    width: 100vw;
    padding: 0.2rem;
    font-size: 3 rem;
    display: flex;
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
}

 .Hello{
    font-size: 2rem;
    font-weight: 100;
    padding-bottom: -10%;
    margin-bottom: -0.9%;
    font-family: 'ABC-mono';
    

 }

 .introName{
    font-size: 3rem;
    font-weight: 150;
    padding-bottom: 0%;
    font-family: 'NeueHaas';
    letter-spacing: 0.5px;
 }

 .JobIntro{
    font-size: 2rem;
    font-weight: 110;
    color: #C4FF58;
    font-family: 'NeueHaas';
    letter-spacing: 0.5px;
 }

 .introPara{
    font-size: medium;
    font-weight: 100;
    padding-top: 5%;
    font-family: 'ABC-mono';
    letter-spacing: -0.5px;
    margin-top: 20px;
    word-spacing: 3.2px;

 }

 .btnLinkedin, .btnGithub, .btnCurriculum{
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    margin-left: 1.4%;
    
 }

 .btnGithub{
    margin-left: 25.6%;
 }

 .btnLinkedinImg, .btnGithubImg{
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
 }

 .btnCurriculumImg{
    height: 3rem;
    width: 2.4rem;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    margin-left: 8px;

 }

 

 .divButton{
    display: flex;
 }

 .foguete{
   position: absolute;
   top: 440px;
   left: 0px;
   width: 200px;
   animation: voar 2.8s linear forwards;
   z-index: 10;
   pointer-events: none;
 }

 .rastro {
   position: absolute;
   height: 2px;
   background: linear-gradient(90deg,  #E3E4D5, #C4FF58);
   left: 210px;
   top: 518px;
   transform: translateY(-90%);
   z-index: 9; /* Fica atrás do foguete */
}

@media screen and (max-width:840px){
   .bgProfile{
      right: 10vw;
      opacity: 40%;
   }
   .introContent{
      font-size: 10vw;
   }
   .Hello{
      font-size: 4.5vw;
   }
   .foguete{
      opacity: 0%;
   }
   .btnLinkedin, .btnGithub, .btnCurriculum{
      padding-top: 5rem;
   }
}

@media screen and (max-width:480px){
   .bgProfile{
      right: -30vw;
      opacity: 40%;
   }
   .foguete{
      opacity: 0%;
   }
   .btnLinkedin{
      padding-left: 0.6rem;
   }
   
}


