*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;

}

body{
    background: #3f3f3f;
    color: #E3E4D5;
    overflow: hidden;
    overflow-y: scroll;
}